<section id="social-pane" class="row text-center social">
  {{ with .Site.Params.social.researchgate }}
  <a href="https://researchgate.net/profile/{{.}}" aria-label="Researchgate" target="_blank"><i class="fab fa-researchgate" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.twitter }}
  <a href="https://twitter.com/{{.}}" aria-label="Twitter" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.google }}
  <a href="https://plus.google.com/{{.}}/about" aria-label="Google Plus" target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.goodreads }}
  <a href="https://www.goodreads.com/user/show/{{.}}" aria-label="Goodreads" target="_blank"><i class="fab fa-goodreads" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.lastfm }}
  <a href="https://www.last.fm/user/{{.}}/" aria-label="Last.fm" target="_blank"><i class="fab fa-lastfm" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
  <a href="https://facebook.com/{{.}}" aria-label="Facebook" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.github }}
  <a href="https://github.com/{{.}}" aria-label="Github" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.instagram }}
  <a href="https://instagram.com/{{.}}" aria-label="Instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="https://linkedin.com/in/{{.}}" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.stackoverflow }}
  <a href="https://stackoverflow.com/users/{{.}}" aria-label="StackOverflow" target="_blank"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.medium}}
  <a href="https://medium.com/{{.}}" aria-label="Medium" target="_blank"><i class="fab fa-medium" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.devto}}
  <a href="https://dev.to/{{.}}" aria-label="Dev.to" target="_blank"><i class="fas fa-terminal" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.angellist}}
  <a href="https://angel.co/{{.}}" aria-label="AngelList" target="_blank"><i class="fab fa-angellist" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.xing }}
  <a href="https://www.xing.com/profile/{{.}}" aria-label="Xing" target="_blank"><i class="fab fa-xing" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.gitlab}}
  <a href="https://gitlab.com/{{.}}" aria-label="Gitlab" target="_blank"><i class="fab fa-gitlab" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.bitbucket}}
  <a href="https://bitbucket.org/{{.}}" aria-label="Bitbucket" target="_blank"><i class="fab fa-bitbucket" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.fivehundredpx}}
  <a href="https://500px.com/{{.}}" aria-label="500px" target="_blank"><i class="fab fa-500px" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.flickr}}
  <a href="https://flickr.com/photos/{{.}}" aria-label="Flickr" target="_blank"><i class="fab fa-flickr" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.foursquare}}
  <a href="https://foursquare.com/{{.}}" aria-label="Foursquare" target="_blank"><i class="fab fa-foursquare" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.hackernews}}
  <a href="https://news.ycombinator.com/user?id={{.}}" aria-label="Y Combinator Hackernews" target="_blank"><i class="fab fa-hacker-news" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.kickstarter}}
  <a href="https://kickstarter.com/profile/{{.}}" aria-label="Kickstarter" target="_blank"><i class="fab fa-kickstarter" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.patreon}}
  <a href="https://patreon.com/{{.}}" aria-label="Patreon" target="_blank"><i class="fab fa-patreon" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.pintrest}}
  <a href="https://pintrest.com/{{.}}" aria-label="Pintrest" target="_blank"><i class="fab fa-pintrest" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.steam}}
  <a href="https://steamcommunity.com/id/{{.}}" aria-label="Steam" target="_blank"><i class="fab fa-steam" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.reddit}}
  <a href="https://www.reddit.com/user/{{.}}" aria-label="Reddit" target="_blank"><i class="fab fa-reddit" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.snapchat}}
  <a href="https://snapchat.com/add/{{.}}" aria-label="Snapchat" target="_blank"><i class="fab fa-snapchat" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.youtube}}
  <a href="https://youtube.com/user/{{.}}" aria-label="Youtube" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.keybase}}
  <a href="https://keybase.io/{{.}}" aria-label="Keybase" target="_blank"><i class="fab fa-keybase" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.twitch}}
  <a href="https://www.twitch.tv/{{.}}" aria-label="Twitch" target="_blank"><i class="fab fa-twitch" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.soundcloud}}
  <a href="https://soundcloud.com/{{.}}" aria-label="Soundcloud" target="_blank"><i class="fab fa-soundcloud" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.tumblr}}
  <a href="https://{{.}}.tumblr.com" aria-label="Tumblr" target="_blank"><i class="fab fa-tumblr" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.strava}}
  <a href="https://www.strava.com/athletes/{{.}}" aria-label="Strava" target="_blank"><i class="fab fa-strava" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.skype}}
  <a href="skype:{{.}}" aria-label="Skype" target="_blank"><i class="fab fa-skype" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.telegram}}
  <a href="https://t.me/{{.}}" aria-label="Telegram" target="_blank"><i class="fab fa-telegram" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.whatsapp}}
  <a href="https://wa.me/{{.}}" aria-label="Whatsapp" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{.}}" aria-label="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a>
  {{ end }}
  {{ if and ( .Site.Params.extra.rss ) ( .RSSLink ) }}
  <a href="{{ .RSSLink }}" aria-label="RSS" target="_blank"><i class="fas fa-rss" aria-hidden="true"></i></a>
  {{ end }}
</section>
{{ if .Site.Params.extra.socialmarkup }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "{{ .Site.Params.author }}",
  "url": "{{ .Site.Params.baseURL }}",
  "sameAs": [
    {{ with .Site.Params.social.researchgate }}"https://www.researchgate.net/profile/{{.}}",{{ end }}
    {{ with .Site.Params.social.twitter }}"https://twitter.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.google }}"https://plus.google.com/{{.}}/about",{{ end }}
    {{ with .Site.Params.social.goodreads }}"https://www.goodreads.com/user/show/{{.}}",{{ end }}
    {{ with .Site.Params.social.lastfm }}"https://www.last.fm/user/{{.}}/",{{ end }}
    {{ with .Site.Params.social.facebook }}"https://facebook.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.github }}"https://github.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.instagram }}"https://instagram.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.linkedin }}"https://linkedin.com/in/{{.}}",{{ end }}
    {{ with .Site.Params.social.stackoverflow }}"https://stackoverflow.com/users/{{.}}",{{ end }}
    {{ with .Site.Params.social.medium}}"https://medium.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.devto}}"https://dev.to/{{.}}",{{ end }}
    {{ with .Site.Params.social.angellist}}"https://angel.co/{{.}}",{{ end }}
    {{ with .Site.Params.social.xing }}"https://www.xing.com/profile/{{.}}",{{ end }}
    {{ with .Site.Params.social.gitlab}}"https://gitlab.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.bitbucket}}"https://bitbucket.org/{{.}}",{{ end }}
    {{ with .Site.Params.social.fivehundredpx}}"https://500px.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.flickr}}"https://flickr.com/photos/{{.}}",{{ end }}
    {{ with .Site.Params.social.foursquare}}"https://foursquare.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.hackernews}}"https://news.ycombinator.com/user?id={{.}}",{{ end }}
    {{ with .Site.Params.social.kickstarter}}"https://kickstarter.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.patreon}}"https://patreon.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.pintrest}}"https://pintrest.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.steam}}"https://steamcommunity.com/id/{{.}}",{{ end }}
    {{ with .Site.Params.social.reddit}}"https://www.reddit.com/user/{{.}}",{{ end }}
    {{ with .Site.Params.social.snapchat}}"https://snapchat.com{{.}}",{{ end }}
    {{ with .Site.Params.social.youtube}}"https://youtube.com/user/{{.}}",{{ end }}
    {{ with .Site.Params.social.keybase}}"https://keybase.io/{{.}}",{{ end }}
    {{ with .Site.Params.social.twitch}}"https://www.twitch.tv/{{.}}",{{ end }}
    {{ with .Site.Params.social.soundcloud}}"https://soundcloud.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.tumblr}}"https://{{.}}.tumblr.com",{{ end }}
    {{ with .Site.Params.social.strava}}"https://www.strava.com/athletes/{{.}}",{{ end }},
    "{{ .Site.Params.baseURL }}"
  ]
}
</script>
{{ end }}
